img.coverImg {
    width: 100%;
}

.allContent {
background-color: yellow;
}

.col-md-3.allcon {
    /* border: 2px solid; */
    margin-bottom: 50px;
}



button.cartBtn {
    background-color: #ffd929;
    /* width: 90%;
     */
     padding: 0 35px;
    border: none;
    border-radius: 10px;
}

/* .youcontent {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding-bottom: 12PX;
    border-radius: 10px;
} */

.productContent {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 200px;
    padding-bottom: 12PX;
    border-radius: 10px;
}

/* .productContent:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10) ;
    transition: width 2s;
    
} */


.productName, .productPrice {
    font-size: 14px;
    /* font-style: oblique; */
    margin: 6px;
    /* height: 100px; */
    font-style: sans-serif;
    font-weight: bolder;
    padding: 5px 0;
    letter-spacing: 0.4px;
}


.allCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
}

button.catbtn {
    background-color: #fff;
    border-radius: 20px;
    border: none;
    font-family: Arial, Helvetica, sans-serif
    ;
    /* font-size: 16px; */
}

button.catbtn:hover:active{
    background-color: #ffd929;
  }

  .active{
    background-color:red;
    }

    .catbtnActive{
        background-color: #ffd929 !important;
      }
    

      span.cartCount {
        background-color: white;
        padding: 0 5px;
        width: 20px;
        border: 1px solid  greenyellow;
        margin-left: 10px;
        border-radius: 5px;
        margin-right: 8px;
    }
   
    .btnsection {
        display: flex;
        justify-content: space-around;
    }

    img.imgproduct {
        height: 200px;
        width: 200px;
        border-top-right-radius: 11px;
        border-top-left-radius: 10px;
    }
    /* .popup {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
      
       
      /* .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
      } */
    

    @media only screen and (max-width: 768px) {
        .allCategory {
         gap: unset;
        }
        .col-md-3.allcon {
            display: flex;
            justify-content: center;
        }

     
    }