.cartDetailbtn {
    background-color: #ffd929;
    /* width: 90%; */
    padding: 0 30px;
    border: none;
    border-radius: 10px;
}

.detailImg{
    border-radius: 10px;
    height: 500px;
}

button.backbtn {
    border: none;
    background-color: unset;
}

.productsPage {
    font-size: 30px;
    font-weight: 600;
}

.row.productDetail {
    margin-top: 2rem;
}

button.backbtn {
    margin-top: 20px;
  
}