.header-content {
    display: flex;
    justify-content: space-between;
}

.rightContent {
    display: flex;
    gap: 25px;
}

.row.mainHeader {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    background-color: #ffd929;
}
    .headerlogo {
        font-size: 30px;
        font-weight: bold;
        font-style: oblique;
    }


    .signupText {
        font-weight: 500;
        border: 1px solid;
        border-radius: 30px;
        display: flex;
        align-items: center;
        padding: 6 12px;
        height: 29px;
        background-color: black;
        color: aliceblue;
        cursor: pointer;
        width: 82px;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }


    .loginText{
        font-weight: 500;
        border: 1px solid;
        border-radius: 30px;
        display: flex;
        align-items: center;
        height: 29px;
        background-color: transparent;
        color: black;
        cursor: pointer;
        width: max-content;
        align-items: center;
        justify-content: center;
        margin-top: 10px;   
    padding: 10px;
    }
    .addtocart {
        font-size: 30px;
        cursor: pointer;
    }

    .cartValues {
        display: flex;
        justify-content: center;
        flex-direction: initial;
    }

    span.myCart {
        margin-right: -26px;
        height: 24px;
        width: 22px;
        border-radius: 16px;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        font-size: 12px;
        background-color: floralwhite;
    }
    .signText {
        font-size: 36px;
        font-family: math;
    }


    @media only screen and (max-width: 768px) {
      .signupText{
        display: none;
      }  
      .rightContent {
        display: flex;
        gap: 10px;
    }
    .loginText {
        margin-left: 35px;
    }

   
    }